# Specify your email sender details. These settings
# apply to both SMTP and Twillio SendGrid. 
KU_EMAIL_FROM='your-sender-address@example.org'
KU_EMAIL_TO='your-recipient-address@example.org'
KU_EMAIL_SUBJECT='Kubeup AKS Notification'

# Specify your Twillio SendGrid API Key.
# Remove if you are using a different notification mechanism.
KU_SENDGRID_APIKEY=''

# Specify your SMTP server details. 
# Remove if you are using a different notification mechanism.
KU_SMTP_HOST=''
KU_SMTP_USERNAME=''
KU_SMTP_PASSWORD=''
KU_SMTP_PORT=587

# Specify your Azure resource details.
KU_AKS_CLUSTER=''
KU_AKS_RESOURCE_GROUP=''
KU_APP_NAME='kubeup'
KU_RESOURCE_GROUP='kubeup-demo'
KU_LOCATION='northeurope'

# Specify your own client secrets.
# Remove if you are using Entra ID or no authorization.
KU_SECRET_1=''
KU_SECRET_2=''