<h1>Kubernetes version support ending</h1>
<h2>Resource ID: {{ .Source }}</h2>
<h2>Version: {{ .Event.KubernetesVersion }}</h2>
<p>This AKS cluster will soon no longer be supported. Please upgrade immediately to a supported Kubernetes version.</p>
